@page
@model MyFirstWebApp.Pages.Books.IndexModel
@{
}

<br />

<div class="container row">
    <div class="col-10">
        <h2>Book list</h2>
    </div>
    <div class="col-2">
        <a asp-page="Create" class="btn btn-info">Create book</a>
    </div>

    <div>
        <p>
            <form>
                Title: <input type="text" asp-for=SearchInputTitle />
                <select asp-items="Model.Authors" asp-for="SelectedAuthorName">
                    <option value="">Select author</option>
                    <option value="Create">Create author</option>
                </select>
                <input type="submit" value="Search" />
            </form>
        </p>

    </div>
    <div class="col-12 border p-2 mt-2">

        <form method="post">
            @if (Model.Books.Count > 0)
            {
                <table class="table table-striped border-1">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Title"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Content"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Author.Name"></label>
                        </th>
                        <th></th>

                    </tr>
                    @foreach (var book in Model.Books)
                    {
                        <tr>
                            <td>
                                @book.Title
                            </td>
                            <td>
                                @book.Content
                            </td>
                            <td>
                                @book.Author.Name
                            </td>

                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@book.Id" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Edit" asp-route-id="@book.Id" class="btn btn-success btn-sm">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No books available</p>
            }
        </form>
    </div>
</div>
